.contacts {
  &__container {
    max-width: 1280px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 435px;
    position: relative;

    @include desktop {
      margin-top: 90px;
    }

    @include big-desktop {
      max-width: 320px;
      min-height: 190px;
      padding: 40px 0;
    }
  }

  &__heading {
    display: block;
    width: 100%;
    max-width: 625px;
    margin-top: 60px;
    @include ff-prosto;
    font-size: 56px;
    line-height: 67px;
    font-weight: 400;
    color: $black;
    text-transform: uppercase;

    @include big-desktop {
      font-size: 24px;
      font-weight: 400;
      line-height: 29px;
      margin-bottom: 10px;
      margin-top: 20px;
    }
  }

  &__map {
    position: relative;
  }

  &__banner {
    bottom: 0;
    left: 0;
    margin: 0 auto;
    max-width: 1280px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}

.contacts-info {
  background-color: $red;
  bottom: 0;
  color: $white;
  height: 518px;
  left: 0;
  margin: auto 0;
  padding: 60px;
  position: absolute;
  top: 0;
  width: 510px;

  @include big-desktop {
    height: 269px;
    left: 20px;
    padding: 20px;
    width: 220px;
  }

  &__title {
    display: block;
    @include ff-prosto;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    margin-bottom: 20px;

    @include big-desktop {
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    display: block;
    font-size: 14px;
    line-height: 18px;
    opacity: .5;
    text-transform: uppercase;
    @include ff-prosto;
    font-weight: 500;
    margin-bottom: 20px;

    @include big-desktop {
      font-weight: 500;
      margin-bottom: 10px;
      font-size: 10px;
      line-height: 13px;
    }
  }

  &__tel {
    margin-bottom: 20px;

    @include big-desktop {
      margin-bottom: 10px;
    }
  }

  &__tel-link {
    color: $white;
    display: inline-block;
    font-size: 24px;
    line-height: 29px;
    padding-right: 10px;
    text-decoration: none;

    @include big-desktop {
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__address {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 25px;
    margin-bottom: 40px;
    text-align: left;

    @include big-desktop {
      font-size: 10px;
      font-weight: 400;
      line-height: 14px;
      margin-bottom: 10px;
    }
  }

  &__mail-link {
    color: #fff;
    display: inline-block;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;

    @include big-desktop {
      font-size: 12px;
      line-height: 14px;
    }
  }
}

.city {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;

  @include big-desktop {
    padding-left: 5px;
    font-size: 11px;
    line-height: 14px;
  }
}

#map {
  min-height: 800px;
  width: 100%;

  @include big-desktop {
    min-height: 310px;
  }
}
