.ergonomic {
  &__container {
    max-width: 1280px;
    padding: 140px 0 100px;

    @include big-desktop {
      max-width: 320px;
      padding: 40px 0 0;
    }
  }

  &__heading {
    @include heading;
    margin-bottom: 100px;

    @include big-desktop {
      margin-bottom: 40px;
    }
  }
}

.ergonomic-list {
  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
    border-top: 1px solid $line-soft;

    @include big-desktop {
      padding: 20px 0;
      align-items: flex-start;
    }
  }

  &__item:last-child {
    border-bottom: 1px solid $line-soft;
  }

  &__title {
    min-width: 620px;
    @include ff-prosto;
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    text-transform: uppercase;
    color: $black;

    @include big-desktop {
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      min-width: 130px;
    }
  }

  &__description {
    font-size: 18px;
    line-height: 25px;
    color: $gray;

    @include big-desktop {
      font-size: 10px;
      line-height: 14px;
      padding-left: 20px;
    }
  }
}
