.technology {

  &__container {
    max-width: 1280px;
    padding: 140px 0;

    @include big-desktop {
      max-width: 320px;
      padding: 40px 20px;
    }
  }

  &__heading {
    @include heading;
    margin-bottom: 100px;

    @include big-desktop {
      margin-bottom: 40px;
    }
  }
}

.technology-list {
  &__title {
    padding: 40px 0 20px;
    @include ff-prosto;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-transform: uppercase;
    color: $black;

    @include big-desktop {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      padding: 20px 0 10px;
    }
  }

  &__description {
    padding-bottom: 40px;
    display: block;
    font-size: 18px;
    line-height: 25px;
    color: $gray;
    border-bottom: 1px solid $gray-soft;

    @include big-desktop {
      font-size: 10px;
      line-height: 14px;
      padding-bottom: 20px;
    }
  }
}
