<section class="about-brand">
  <div class="about-brand__container container">
    @include('breadcrumbs.html')

    <h1 class="heading-reset about-brand__heading">
      О БРЕНДЕ
    </h1>
    <div class="about-brand__description">
      KORONA – производство культиваторов и мотоблоков и для небольшого дачного участка и среднего фермерского хозяйства
      для вспашки земли, нарезки борозд, посадки, окучивания, и сбора картофеля, покоса травы, уборки снега и
      транспортировки грузов
    </div>
  </div>
  <div class="about-brand__tooltips">
    <picture>
      <source srcset="/img/about-brand-1.avif" type="image/avif">
      <source srcset="/img/about-brand-1.webp" type="image/webp">
      <img loading="lazy" src="/img/about-brand-1.jpg" class="image" sizes="(min-width: 1920px) 1920px, 100vw"
           width="1920" height="800" alt="Бренд">
    </picture>
    <div class="tooltips">
      <div class="tooltips__item" id="tooltip_1"></div>
      <div class="tooltips__item" id="tooltip_2"></div>
      <div class="tooltips__item" id="tooltip_3"></div>
      <div class="tooltips__item" id="tooltip_4"></div>
      <div class="tooltips__item" id="tooltip_5"></div>
      <div class="tooltips__item" id="tooltip_6"></div>
      <div class="tooltips__item" id="tooltip_7"></div>
      <div class="tooltips__item" id="tooltip_8"></div>
      <div class="tooltips__item" id="tooltip_9"></div>
      <div class="tooltips__item" id="tooltip_10"></div>
    </div>
  </div>
</section>
