<section class="about">
  <div class="about__top">
    <h2 class="about__heading heading-reset">
      Компания
    </h2>
    <div class="about__right">
      <div class="about__description">
        KORONA – крупнейшее в России производство культиваторов и мотоблоков и для небольшого дачного участка и среднего
        фермерского хозяйства.
      </div>
      <a href="#" class="about__link">
        Узнать больше
        <svg class="about__link-icon">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </a>
    </div>
  </div>
  <ul class="about__list list-reset about-list">
    <li class="about-list__item">
      <div class="about__numeric">
        2000
      </div>
      <div class="about__text">
        тонн в год, перераб. стали российского производства
      </div>
    </li>
    <li class="about-list__item">
      <div class="about__numeric">
        24
      </div>
      <div class="about__text">
        года, непрерывной плодотворной работы
      </div>
    </li>
    <li class="about-list__item">
      <div class="about__numeric">
        246
      </div>
      <div class="about__text">
        оптовых клиентов России и стран Таможенного союза
      </div>
    </li>
    <li class="about-list__item">
      <div class="about__numeric">
        9
      </div>
      <div class="about__text">
        стран, осуществляем поставку товара через дистрибьютеров
      </div>
    </li>
  </ul>
</section>
