<div class="burger-menu menu">
 <ul class="burger-menu__list menu-list list-reset">
    <li class="burger-menu__item">
      <a href="#" class="burger-menu__link">
        Культиваторы
      </a>
    </li>
    <li class="burger-menu__item">
      <a href="#" class="burger-menu__link">
        Лёгкие мотоблоки
      </a>
    </li>
    <li class="burger-menu__item">
      <a href="#" class="burger-menu__link">
        Средние мотоблоки
      </a>
    </li>
    <li class="burger-menu__item">
      <a href="#" class="burger-menu__link">
        Тяжёлые мотоблоки
      </a>
    </li>
    <li class="burger-menu__item">
      <a href="#" class="burger-menu__link">
        Измельчители
      </a>
    </li>
    <li class="burger-menu__item">
      <a href="#" class="burger-menu__link">
        Снегоуборщики
      </a>
    </li>
    <li class="burger-menu__item">
      <a href="#" class="burger-menu__link">
        О компании
      </a>
    </li>
    <li class="burger-menu__item">
      <a href="#" class="burger-menu__link">
        О бренде
      </a>
    </li>
    <li class="burger-menu__item">
      <a href="#" class="burger-menu__link">
        Контакты
      </a>
    </li>
  </ul>
</div>
