<section class="catalog-nav">
  <div class="catalog-nav__container container">
    <a href="" class="catalog-nav__link">
      Культиваторы
    </a>
    <a href="" class="catalog-nav__link">
      Лёгкие мотоблоки
    </a>
    <a href="" class="catalog-nav__link">
      Средние мотоблоки
    </a>
    <a href="" class="catalog-nav__link">
      Тяжелые мотоблоки
    </a>
    <a href="" class="catalog-nav__link">
      Измельчители
    </a>
    <a href="" class="catalog-nav__link">
      Снегоуборщики
    </a>
  </div>
</section>
