<section class="characteristics">
  <div class="characteristics__container container">
    <ul class="characteristics__list list-reset tabs-list">
      <li class="tabs-list__item active" data-path="1">
        Технические характеристики
      </li>
      <li class="tabs-list__item" data-path="2">
        Описание
      </li>
      <li class="tabs-list__item" data-path="3">
        Где купить?
      </li>
    </ul>
  </div>
  <hr class="line">
  <div class="characteristics__container container">
    <div class="characteristics__content">
      <div class="characteristics__block" data-target="1" data-active="true">
        <ul class="characteristics__list list-reset characteristics-list">
          <li class="characteristics-list__item">
            Мощность 7л.с.
          </li>
          <li class="characteristics-list__item">
            Объем двигателя 212 куб.см.
          </li>
          <li class="characteristics-list__item">
            Глубина вспашки– 35 см.
          </li>
          <li class="characteristics-list__item">
            Ширина вспашки– 90 см.
          </li>
          <li class="characteristics-list__item">
            Регулировка руля вверх / вниз.
          </li>
          <li class="characteristics-list__item">
            Корпус редуктора алюминий.
          </li>
          <li class="characteristics-list__item">
            Тип редуктора – шестерёнчато–цепной.
          </li>
          <li class="characteristics-list__item">
            3 группы фрез по 3 ножа с каждой стороны.18 ножей.
          </li>
          <li class="characteristics-list__item">
            Скорости: 2 вперед, 1 назад.
          </li>
          <li class="characteristics-list__item">
            Комплект пневматических колес 4.00 - 8.
          </li>
          <li class="characteristics-list__item">
            Сцепление - ременное.
          </li>
        </ul>
      </div>
      <div class="characteristics__block" data-target="2">
        Описание
      </div>
      <div class="characteristics__block" data-target="3">
        Где купить?
      </div>
    </div>
  </div>
  <hr class="line">
</section>
