<section class="contacts">
  <div class="contacts__container container">
    @include('breadcrumbs.html')

    <h1 class="contacts__heading heading-reset">
      Контакты
    </h1>
  </div>
  <div class="contacts__map">
    <div id="map"></div>
    <div class="contacts__banner">
      <div class="contacts__info contacts-info">
        <div class="contacts-info__title">
          ООО “КОРОНА”
        </div>
        <div class="contacts-info__subtitle">
          ТЕЛЕФОНЫ
        </div>
        <div class="contacts-info__tel">
          <a class="contacts-info__tel-link" href="tel:+79101329428">+7 (910) 132-94-28 <span class="city">Н.Новгород</span></a>
        </div>
        <div class="contacts-info__tel">
          <a class="contacts-info__tel-link" href="tel:+74997000019">+7 (499) 700-00-19 <span class="city">Москва</span></a>
        </div>
        <div class="contacts-info__subtitle">
          АДРЕС
        </div>
        <address class="contacts-info__address">
          606104 Нижегородская обл., Павловский р-н, г. Павлово, ул. Аллея Ильича, 43, л.4, оф.2
        </address>
        <div class="contacts-info__subtitle">
          E-MAIL
        </div>
        <div class="contacts__email">
          <a class="contacts-info__mail-link" href="mailto:sale@koronann.ru">sale@koronann.ru</a>
        </div>
      </div>
    </div>
  </div>
</section>
