<section class="direction">
  <div class="direction__container container">
    <h1 class="direction__heading heading-reset">
      Направления производства
    </h1>
    <div class="swiper direction-swiper">
      <div class="swiper-wrapper direction-swiper__wrapper">
        <div class="swiper-slide direction-swiper__slide">
          <picture>
            <source srcset="/img/1-direct.avif" type="image/avif">
            <source srcset="/img/1-direct.webp" type="image/webp">
            <img loading="lazy" src="/img/1-direct.jpg" class="image" sizes="(min-width: 1280px) 1280px, 100vw"
                 width="1280" height="600" alt="Бензиновые и дизельные мотоблоки">
          </picture>
        </div>
        <div class="swiper-slide direction-swiper__slide">
          <picture>
            <source srcset="/img/2-direct.avif" type="image/avif">
            <source srcset="/img/2-direct.webp" type="image/webp">
            <img loading="lazy" src="/img/2-direct.jpg" class="image" sizes="(min-width: 1280px) 1280px, 100vw"
                 width="1280" height="600" alt="Пресс-штамповое производство и оснастка">
          </picture>
        </div>
        <div class="swiper-slide direction-swiper__slide">
          <picture>
            <source srcset="/img/3-direct.avif" type="image/avif">
            <source srcset="/img/3-direct.webp" type="image/webp">
            <img loading="lazy" src="/img/3-direct.jpg" class="image" sizes="(min-width: 1280px) 1280px, 100vw"
                 width="1280" height="600" alt="Садово-строительные тачки">
          </picture>
        </div>
        <div class="swiper-slide direction-swiper__slide">
          <picture>
            <source srcset="/img/4-direct.avif" type="image/avif">
            <source srcset="/img/4-direct.webp" type="image/webp">
            <img loading="lazy" src="/img/4-direct.jpg" class="image" sizes="(min-width: 1280px) 1280px, 100vw"
                 width="1280" height="600" alt="Полиуретановые колеса для садово-строительных тачек">
          </picture>
        </div>
      </div>

      <div class="swiper direction-swiper swiper-mini">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-mini__slide">
            <div class="swiper-mini__content">
              <h3 class="swiper-mini__heading heading-reset">
                Бензиновые и дизельные мотоблоки
              </h3>
            </div>
          </div>
          <div class="swiper-slide swiper-mini__slide">
            <div class="swiper-mini__content">
              <h3 class="swiper-mini__heading heading-reset">
                Пресс-штамповое производство и оснастка
              </h3>
            </div>
          </div>
          <div class="swiper-slide swiper-mini__slide">
            <div class="swiper-mini__content">
              <h3 class="swiper-mini__heading heading-reset">
                Садово-строительные тачки
              </h3>
            </div>
          </div>
          <div class="swiper-slide swiper-mini__slide">
            <div class="swiper-mini__content">
              <h3 class="swiper-mini__heading heading-reset">
                Полиуретановые колеса для садово-строительных тачек
              </h3>
            </div>
          </div>
        </div>
        <div class="swiper-pagination direction-swiper__pagination"> - </div>
        <div class="direction-swiper__buttons">
          <button class="btn-reset direction-swiper__btn direction-swiper__button-prev"></button>
          <button class="btn-reset direction-swiper__btn direction-swiper__button-next"></button>
        </div>
      </div>

    </div>

    <ul class="about__list list-reset direction-list about-list">
      <li class="about-list__item">
        <div class="about__numeric">
          250
        </div>
        <div class="about__text">
          Сотрудников
        </div>
      </li>
      <li class="about-list__item">
        <div class="about__numeric">
          10
        </div>
        <div class="about__text">
          Инженеров
        </div>
      </li>
      <li class="about-list__item">
        <div class="about__numeric">
          2
        </div>
        <div class="about__text">
          Офиса
        </div>
      </li>
      <li class="about-list__item">
        <div class="about__numeric">
          3
        </div>
        <div class="about__text">
          Склада
        </div>
      </li>
    </ul>
  </div>
</section>
