<section class="equipment">
  <div class="equipment__container container">
    <h2 class="equipment__heading heading-reset">
      Оборудование
    </h2>
    <ul class="list-reset equipment__list equipment-list">
      <li class="equipment-list__item">
        <article class="equipment__card equipment-card">
          <picture>
            <source srcset="/img/about-company-equip-1.avif" type="image/avif">
            <source srcset="/img/about-company-equip-1.webp" type="image/webp">
            <img loading="lazy" src="/img/about-company-equip-1.jpg" class="image"
                 sizes="(min-width: 620px) 620px, 100vw"
                 alt="Собственное инструментальное производство со станками ЧПУ для производства штампов и оснастки">
          </picture>
          <h3 class="equipment-card__heading heading-reset">
            СОБСТВЕННОЕ ИНСТРУМЕНТАЛЬНОЕ ПРОИЗВОДСТВО СО СТАНКАМИ ЧПУ ДЛЯ ПРОИЗВОДСТВА ШТАМПОВ И ОСНАСТКИ
          </h3>
          <div class="equipment-card__description">
            Вы сможете получить индивидуальный дизайн вашего мотоблока (крылья, руль, рама и пр.) в срок до 2-х месяцев
          </div>
        </article>
      </li>
      <li class="equipment-list__item">
        <article class="equipment__card equipment-card">
          <picture>
            <source srcset="/img/about-company-equip-2.avif" type="image/avif">
            <source srcset="/img/about-company-equip-2.webp" type="image/webp">
            <img loading="lazy" src="/img/about-company-equip-2.jpg" class="image"
                 sizes="(min-width: 620px) 620px, 100vw"
                 alt="Автоматизированный роботизированный сварочный комплекс">
          </picture>
          <h3 class="equipment-card__heading heading-reset">
            Автоматизированный роботизированный сварочный комплекс
          </h3>
          <div class="equipment-card__description">
            Исключительная точность и четкость сварных швов для идеальной геометрии и 100% жесткости конструкции


          </div>
        </article>
      </li>
      <li class="equipment-list__item">
        <article class="equipment__card equipment-card">
          <picture>
            <source srcset="/img/about-company-equip-3.avif" type="image/avif">
            <source srcset="/img/about-company-equip-3.webp" type="image/webp">
            <img loading="lazy" src="/img/about-company-equip-3.jpg" class="image"
                 sizes="(min-width: 620px) 620px, 100vw"
                 alt="Собственное производство полиуретановых колес для садово-строительных тачек">
          </picture>
          <h3 class="equipment-card__heading heading-reset">
            Собственное производство полиуретановых колес для садово-строительных тачек
          </h3>
          <div class="equipment-card__description">
            Время заказа от заявки до получения готовой продукции короче на 1 месяц, чем у конкурентов
          </div>
        </article>
      </li>
      <li class="equipment-list__item">
        <article class="equipment__card equipment-card">
          <picture>
            <source srcset="/img/about-company-equip-4.avif" type="image/avif">
            <source srcset="/img/about-company-equip-4.webp" type="image/webp">
            <img loading="lazy" src="/img/about-company-equip-4.jpg" class="image"
                 sizes="(min-width: 620px) 620px, 100vw"
                 alt="Две собственные порошковые окрасочные камеры">
          </picture>
          <h3 class="equipment-card__heading heading-reset">
            Две собственные порошковые окрасочные камеры
          </h3>
          <div class="equipment-card__description">
            Любой цвет RAL по вашему заказу для вашего мотоблока
          </div>
        </article>
      </li>
      <li class="equipment-list__item">
        <article class="equipment__card equipment-card">
          <picture>
            <source srcset="/img/about-company-equip-5.avif" type="image/avif">
            <source srcset="/img/about-company-equip-5.webp" type="image/webp">
            <img loading="lazy" src="/img/about-company-equip-6.jpg" class="image"
                 sizes="(min-width: 620px) 620px, 100vw"
                 alt="Комплексы лазерной резки и гидравлических листогибов">
          </picture>
          <h3 class="equipment-card__heading heading-reset">
            Комплексы лазерной резки и гидравлических листогибов
          </h3>
          <div class="equipment-card__description">
            Идеальные и одинаковые по форме заготовки для узлов и агрегатов вашего мотоблока
          </div>
        </article>
      </li>
      <li class="equipment-list__item">
        <article class="equipment__card equipment-card">
          <picture>
            <source srcset="/img/about-company-equip-6.avif" type="image/avif">
            <source srcset="/img/about-company-equip-6.webp" type="image/webp">
            <img loading="lazy" src="/img/about-company-equip-6.jpg" class="image"
                 sizes="(min-width: 620px) 620px, 100vw"
                 alt="Автоматический конвейер сборки мотоблоков">
          </picture>
          <h3 class="equipment-card__heading heading-reset">
            Автоматический конвейер сборки мотоблоков
          </h3>
          <div class="equipment-card__description">
            Позволяет собирать до 600 мотоблоков в сутки
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
