<section class="ergonomic">
  <div class="ergonomic__container container">
    <h2 class="ergonomic__heading heading-reset">
      ЭРГОНОМИЧНОСТЬ
    </h2>
    <ul class="ergonomic__list ergonomic-list list-reset">
      <li class="ergonomic-list__item">
        <p class="ergonomic-list__title heading-reset">
          ОТСУТСТВИЕ НАГРУЗКИ
        </p>
        <p class="ergonomic-list__description heading-reset">
          Превосходная развесовка с увеличенной до 250 мм сцепкой сошника устраняет нагрузку на руки во время работы
        </p>
      </li>
      <li class="ergonomic-list__item">
        <p class="ergonomic-list__title heading-reset">
          РЕГУЛИРОВКА РУЛЯ
        </p>
        <p class="ergonomic-list__description heading-reset">
          Регулируемый от 100 см до 140 см по высоте руль удобен для работы оператора любого роста
        </p>
      </li>
      <li class="ergonomic-list__item">
        <p class="ergonomic-list__title heading-reset">
          ЛЕГКОСТЬ В УПРАВЛЕНИИ
        </p>
        <p class="ergonomic-list__description heading-reset">
          Простота управления в работе, транспортировки и хранения, позволят с легкостью обрабатывать вам любой участок от 3 до 25 соток
        </p>
      </li>
      <li class="ergonomic-list__item">
        <p class="ergonomic-list__title heading-reset">
          ДОП. ОБОРУДОВАНИЕ
        </p>
        <p class="ergonomic-list__description heading-reset">
          Универсальная сцепка и кронштейн передней навески позволяют использовать до 20 вариантов навесного оборудования
        </p>
      </li>
    </ul>
  </div>
</section>
