<footer class="footer">
  <div class="footer__container">
    <div class="footer__top-left">
      <a class="footer__tel" href="tel:+78312280101">+7 (831) 228-01-01</a>
      <div class="footer__description">
        Н.Новгород
      </div>
    </div>
    <div class="footer__top-right">
      <a class="footer__tel" href="tel:+79101329428">+7 (910) 134-94-28</a>
      <div class="footer__description">
        Москва
      </div>
    </div>
  </div>
  <hr class="footer__line">
  <div class="footer__container footer__middle">
    <div class="footer__middle-left">
      <div class="footer__list-heading">
        Компания
      </div>
      <ul class="footer__list list-reset">
        <li class="footer__item">
          <a href="#" class="footer__link">
            О компании
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            О бренде
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            Контакты
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__middle-right">
      <div class="footer__list-heading">
        Продукция
      </div>
      <ul class="footer__list list-reset">
        <li class="footer__item">
          <a href="#" class="footer__link">
            Лёгкие мотоблоки
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            Средние мотоблоки
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
           Тяжёлые мотоблоки
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            Культиваторы
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            Измельчители
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            Снегоуборщики
          </a>
        </li>
      </ul>
    </div>
  </div>
  <hr class="footer__line">
  <div class="footer__container">
    <div class="footer__bottom-left">
      2021 © Корона. Все права защищены.<br>
      <a href="#" class="footer__copyright">Политика конфиденциальности.</a>
    </div>
    <div class="footer__bottom-right">
      ООО “КОРОНА”. Изготавливаем любое количество бензиновых мотоблоков в кратчайшие сроки и обеспечиваем постоянные объемы поставок, поддерживаем плотное сотрудничество как с мелкооптовыми и розничными покупателями, так и с крупнейшими торговыми сетями.
      <br>
      <br>
      Информация, указанная на сайте, не является публичной офертой и носит ознакомительный характер.
    </div>
  </div>
</footer>
