<section class="future">
  <div class="container future__container">
    <h2 class="future__heading heading-reset">
      НАШЕ БУДУЩЕЕ
    </h2>
    <!-- Slider main container -->
    <div class="swiper future__swiper future-swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper future-swiper__wrapper">
        <!-- Slides -->
        <div class="swiper-slide future-swiper__slide">
          <article class="future-card">
            <p class="heading-reset future-card__heading">
              2021 год
            </p>
            <div class="future-card__content">
              <p class="heading-reset future-card__description">
                Cовместно с РЦК (российский центр компетенций) внедрение Системы Бережливого Производства
              </p>
              <picture>
                <source srcset="/img/about-company-future-1.avif" type="image/avif">
                <source srcset="/img/about-company-future-1.webp" type="image/webp">
                <img loading="lazy" src="/img/about-company-future-1.jpg" class="image"
                     sizes="(min-width: 400px) 400px, 100vw" width="400" height="260"
                     alt="Cовместно с РЦК (российский центр компетенций) внедрение Системы Бережливого Производства">
              </picture>
            </div>
          </article>
        </div>
        <div class="swiper-slide future-swiper__slide">
          <article class="future-card">
            <p class="heading-reset future-card__heading">
              2022 год
            </p>
            <div class="future-card__content">
              <p class="heading-reset future-card__description">
                Запуск производства снегоуборщиков и садовых измельчителей
              </p>
              <picture>
                <source srcset="/img/about-company-future-2.avif" type="image/avif">
                <source srcset="/img/about-company-future-2.webp" type="image/webp">
                <img loading="lazy" src="/img/about-company-future-2.jpg" class="image"
                     sizes="(min-width: 400px) 400px, 100vw" width="400" height="260"
                     alt="Cовместно с РЦК (российский центр компетенций) внедрение Системы Бережливого Производства">
              </picture>
            </div>
          </article>
        </div>
        <div class="swiper-slide future-swiper__slide">
          <article class="future-card">
            <p class="heading-reset future-card__heading">
            </p>
            <div class="future-card__content">
              <p class="heading-reset future-card__description">
                Выход на объем производства мотоблоков более 100 000 в год
              </p>
              <picture>
                <source srcset="/img/about-company-future-3.avif" type="image/avif">
                <source srcset="/img/about-company-future-3.webp" type="image/webp">
                <img loading="lazy" src="/img/about-company-future-3.jpg" class="image"
                     sizes="(min-width: 400px) 400px, 100vw" width="400" height="260"
                     alt="Cовместно с РЦК (российский центр компетенций) внедрение Системы Бережливого Производства">
              </picture>
            </div>
          </article>
        </div>
        <div class="swiper-slide future-swiper__slide">
          <article class="future-card">
            <p class="heading-reset future-card__heading">
              2023 год
            </p>
            <div class="future-card__content">
              <p class="heading-reset future-card__description">
                Открытие автоматизированного производственно – логистического комплекса в Нижегородской области
              </p>
              <picture>
                <source srcset="/img/about-company-future-4.avif" type="image/avif">
                <source srcset="/img/about-company-future-4.webp" type="image/webp">
                <img loading="lazy" src="/img/about-company-future-4.jpg" class="future-card__image image"
                     sizes="(min-width: 400px) 400px, 100vw" width="400" height="260"
                     alt="Cовместно с РЦК (российский центр компетенций) внедрение Системы Бережливого Производства">
              </picture>
            </div>
          </article>
        </div>
        <div class="swiper-slide future-swiper__slide">
          <article class="future-card">
            <p class="heading-reset future-card__heading">

            </p>
            <div class="future-card__content">
              <p class="heading-reset future-card__description">
                Каждый третий новый мотоблок России будет производиться на нашем заводе
              </p>
              <picture>
                <source srcset="/img/about-company-future-5.avif" type="image/avif">
                <source srcset="/img/about-company-future-5.webp" type="image/webp">
                <img loading="lazy" src="/img/about-company-future-5.jpg" class="image"
                     sizes="(min-width: 400px) 400px, 100vw" width="400" height="260"
                     alt="Cовместно с РЦК (российский центр компетенций) внедрение Системы Бережливого Производства">
              </picture>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
