<header class="header">
  <div class="header__logo">
    <a href="/" class="header__link">
      <picture>
        <source srcset="/img/logo.avif" type="image/avif">
        <source srcset="/img/logo.webp" type="image/webp">
        <img loading="lazy" src="/img/logo.png" class="header__image image" sizes="(min-width: 53px) 53px, 100vw"
             alt="Логотип">
      </picture>
      <span class="header__name">korona</span>
    </a>
  </div>
  <div class="header__right">
    <nav class="nav header__nav" title="Навигация">
      <button class="header__btn btn-reset nav__btn-catalog">
        Каталог товаров
      </button>
      <button class="header__btn btn-reset nav__btn-company">
        Компания
      </button>
      <a href="#" class="header__btn nav__link">
        Контакты
      </a>
    </nav>
    <div class="header__tel">
      <a class="header__tel-link header__btn" href="tel:+79101329428">+7 (910) 132-94-28</a>
    </div>
  </div>
  <div class="burger">
    <div class="burger__btn">
      <span class="burger__line"></span>
    </div>
  </div>
</header>
