<section class="help">
  <div class="help__container container">
    <h2 class="help__heading">
      Нужна помощь?
    </h2>
    <ul class="about__list list-reset about-list help__list">
      <li class="about-list__item help__item">
        <a href="" class="help__link">
          <p class="heading-reset help__title">
            Контакты
          </p>
          <span class="help__cp">Перейти</span>
        </a>
      </li>
      <li class="about-list__item help__item">
        <a href="" class="help__link">
          <p class="heading-reset help__title">
            Где купить
          </p>
          <span class="help__cp">Перейти</span>
        </a>
      </li>
      <li class="about-list__item help__item">
        <a href="" class="help__link">
          <p class="heading-reset help__title">
            Сервисные центры
          </p>
          <span class="help__cp">Перейти</span>
        </a>
      </li>
      <li class="about-list__item help__item">
        <a href="" class="help__link">
          <p class="heading-reset help__title">
            Документация
          </p>
          <span class="help__cp">Перейти</span>
        </a>
      </li>
    </ul>
  </div>
</section>
