<section class="hero">
  <!--   Slider main container-->
  <div class="swiper hero__swiper hero-swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper hero-swiper__wrapper">
      <!-- Slides -->
      <div class="swiper-slide hero-swiper__slide">
        <picture>
          <source srcset="/img/hero-slider-1.avif" type="image/avif">
          <source srcset="/img/hero-slider-1.webp" type="image/webp">
          <img width="1920" height="940.0000000000001" loading="lazy" src="/img/hero-slider-1.jpg" class="hero__image image"
               sizes="(min-width: 1920px) 1920px, 100vw" alt="Мотоблоки и культиваторы от поставщика первой цены">
        </picture>
      </div>
      <div class="swiper-slide hero-swiper__slide">
        <picture>
          <source srcset="/img/hero-slider-2.avif" type="image/avif">
          <source srcset="/img/hero-slider-2.webp" type="image/webp">
          <img width="1920" height="940.0000000000001" loading="lazy" src="/img/hero-slider-2.jpg" class="hero__image image"
               sizes="(min-width: 1920px) 1920px, 100vw" alt="Мотоблоки и культиваторы от поставщика первой цены">
        </picture>
      </div>
      <div class="swiper-slide hero-swiper__slide">
        <picture>
          <source srcset="/img/hero-slider-3.avif" type="image/avif">
          <source srcset="/img/hero-slider-3.webp" type="image/webp">
          <img width="1920" height="940.0000000000001" loading="lazy" src="/img/hero-slider-3.jpg" class="hero__image image"
               sizes="(min-width: 1920px) 1920px, 100vw" alt="Мотоблоки и культиваторы от поставщика первой цены">
        </picture>
      </div>
    </div>
    <!-- If we need navigation buttons -->
    <div class="hero-swiper__buttons">
      <div class="hero-swiper__btn hero-swiper__btn-prev">
        <svg class="hero-swiper__icon">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </div>
      <div class="hero-swiper__btn hero-swiper__btn-next">
        <svg class="hero-swiper__icon">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </div>
    </div>
  </div>
  <div class="hero__block">
    <h1 class="heading-reset hero__heading">
      Мотоблоки и<br> культиваторы
    </h1>
    <div class="hero__subheading">
      От поставщика первой цены
    </div>
  </div>
</section>
