<div class="menu">
  <div class="menu__container">
    <ul class="menu__list menu-list main-menu list-reset">
      <li class="menu-list__item">
        <a class="menu-list__link" href="#">Культиваторы</a>
      </li>
      <li class="menu-list__item">
        <a class="menu-list__link" href="#">Легкие мотоблоки</a>
      </li>
      <li class="menu-list__item">
        <a class="menu-list__link" href="#">Средние мотоблоки</a>
      </li>
      <li class="menu-list__item">
        <a class="menu-list__link" href="#">Тяжёлые мотоблоки</a>
      </li>
      <li class="menu-list__item">
        <a class="menu-list__link" href="#">Измельчители</a>
      </li>
      <li class="menu-list__item">
        <a class="menu-list__link" href="#">Снегоуборщики</a>
      </li>
    </ul>
    <ul class="menu__list menu-list company-menu list-reset visually-hidden">
      <li class="menu-list__item">
        <a class="menu-list__link" href="#">О компании</a>
      </li>
      <li class="menu-list__item">
        <a class="menu-list__link" href="#">О бренде</a>
      </li>
    </ul>
  </div>
</div>
