<section class="motoblocks">
  <div class="motoblock__light motoblock-light motoblock">
    <picture>
      <source srcset="/img/block-1.avif" type="image/avif">
      <source srcset="/img/block-1.webp" type="image/webp">
      <img loading="lazy" src="/img/block-1.jpg" class="motoblock__image image" sizes="(min-width: 1720px) 1720px, 100vw" alt="Мотоблоки легкого класса">
    </picture>
    <div class="motoblock__content">
      <div class="motoblock__top">
        <h2 class="heading-reset motoblock__heading">
          Мотоблоки легкого класса
        </h2>
        <div class="motoblock__subheading">
          Техника рассчитана для простой культивации земли и работы с легким навесным оборудованием на площади до 25 соток.
        </div>
        <a href="#" class="motoblock__link">
          Узнать больше
          <svg class="motoblock__link-icon ">
              <use xlink:href="img/sprite.svg#arrow"></use>
          </svg>
        </a>
      </div>
      <ul class="motoblock__list list-reset motoblock-list">
        <li class="motoblock-list__item">
          <span class="motoblock-list__numeric">до 80 кг</span>
          <span class="motoblock-list__text">вес</span>
        </li>
        <li class="motoblock-list__item">
          <span class="motoblock-list__numeric">7 л.с</span>
          <span class="motoblock-list__text">мощность</span>
        </li>
        <li class="motoblock-list__item">
          <span class="motoblock-list__numeric">10-25 соток</span>
          <span class="motoblock-list__text">площадь участка</span>
        </li>
        <li class="motoblock-list__item">
          <span class="motoblock-list__numeric">до 85 см</span>
          <span class="motoblock-list__text">ширина захвата</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="motoblock__light motoblock-medium motoblock">
    <picture>
      <source srcset="/img/block-2.avif" type="image/avif">
      <source srcset="/img/block-2.webp" type="image/webp">
      <img loading="lazy" src="/img/block-2.jpg" class="motoblock__image image" sizes="(min-width: 1720px) 1720px, 100vw" alt="Мотоблоки среднего класса">
    </picture>
    <div class="motoblock__content">
      <div class="motoblock__top">
        <h2 class="heading-reset motoblock__heading">
          Мотоблоки среднего класса
        </h2>
        <div class="motoblock__subheading">
          Мотоблоки используются для культивации земли и целины, очистки территории от снега и сенокоса. Обрабатывает площади до 50 соток. Предназначены для активных пользователей сельской местности.
        </div>
        <a href="#" class="motoblock__link">
          Узнать больше
          <svg class="motoblock__link-icon ">
            <use xlink:href="img/sprite.svg#arrow"></use>
          </svg>
        </a>
      </div>
      <ul class="motoblock__list list-reset motoblock-list">
        <li class="motoblock-list__item">
          <span class="motoblock-list__numeric">80-120 кг</span>
          <span class="motoblock-list__text">вес</span>
        </li>
        <li class="motoblock-list__item">
          <span class="motoblock-list__numeric">6,5-9 л.с.</span>
          <span class="motoblock-list__text">мощность</span>
        </li>
        <li class="motoblock-list__item">
          <span class="motoblock-list__numeric">до 50 соток</span>
          <span class="motoblock-list__text">площадь участка</span>
        </li>
        <li class="motoblock-list__item">
          <span class="motoblock-list__numeric">100 см</span>
          <span class="motoblock-list__text">ширина захвата</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="motoblock__light motoblock-heavy motoblock">
    <picture>
      <source srcset="/img/block-3.avif" type="image/avif">
      <source srcset="/img/block-3.webp" type="image/webp">
      <img loading="lazy" src="/img/block-3.jpg" class="motoblock__image image" sizes="(min-width: 1720px) 1720px, 100vw" alt="Мотоблоки среднего класса">
    </picture>
    <div class="motoblock__content">
      <div class="motoblock__top">
        <h2 class="heading-reset motoblock__heading">
          Мотоблоки тяжелого класса
        </h2>
        <div class="motoblock__subheading">
          Самые мощные и тяжелые агрегаты, для самой тяжелой и продолжительной работы на обширном участке. Подходят для профессионального использования коммунальными службами и фермерскими хозяйствами.
        </div>
        <a href="#" class="motoblock__link">
          Узнать больше
          <svg class="motoblock__link-icon ">
            <use xlink:href="img/sprite.svg#arrow"></use>
          </svg>
        </a>
      </div>
      <ul class="motoblock__list list-reset motoblock-list">
        <li class="motoblock-list__item">
          <span class="motoblock-list__numeric">120-180 кг</span>
          <span class="motoblock-list__text">вес</span>
        </li>
        <li class="motoblock-list__item">
          <span class="motoblock-list__numeric">9-17 л.с.</span>
          <span class="motoblock-list__text">мощность</span>
        </li>
        <li class="motoblock-list__item">
          <span class="motoblock-list__numeric">до 1,5 га</span>
          <span class="motoblock-list__text">площадь участка</span>
        </li>
        <li class="motoblock-list__item">
          <span class="motoblock-list__numeric">до 135 см</span>
          <span class="motoblock-list__text">ширина захвата</span>
        </li>
      </ul>
    </div>
  </div>
</section>
