<section class="partners">
  <div class="partners__container">
    <h2 class="heading-reset partners__heading">
      С нами работают
    </h2>
    <div class="partners-swiper__buttons">
      <div class="partners-swiper__btn partners-swiper__buttons-prev">
        <svg class="partners-swiper__icon">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </div>
      <div class="partners-swiper__btn partners-swiper__buttons-next">
        <svg class="partners-swiper__icon">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </div>
    </div>
    <!-- Slider main container -->
    <div class="swiper partners-swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper partners-swiper__wrapper">
        <!-- Slides -->
        <div class="swiper-slide partners-swiper__slide">
          <div class="">
            <picture>
              <source srcset="/img/partners-1.avif" type="image/avif">
              <source srcset="/img/partners-1.webp" type="image/webp">
              <img loading="lazy" src="/img/partners-1.png" class="partners__image image" sizes="(min-width: 260px) 260px, 100vw" alt="Castorama">
            </picture>
          </div>
        </div>
        <div class="swiper-slide partners-swiper__slide">
          <div class="">
            <picture>
              <source srcset="/img/partners-2.avif" type="image/avif">
              <source srcset="/img/partners-2.webp" type="image/webp">
              <img loading="lazy" src="/img/partners-2.png" class="partners__image image" sizes="(min-width: 240px) 240px, 100vw" alt="Leroy Merlin">
            </picture>
          </div>
        </div>
        <div class="swiper-slide partners-swiper__slide">
          <div class="">
            <picture>
              <source srcset="/img/partners-3.avif" type="image/avif">
              <source srcset="/img/partners-3.webp" type="image/webp">
              <img loading="lazy" src="/img/partners-3.png" class="partners__image image" sizes="(min-width: 240px) 240px, 100vw" alt="X5 retail group">
            </picture>
          </div>
        </div>
        <div class="swiper-slide partners-swiper__slide">
          <div class="">
            <picture>
              <source srcset="/img/partners-4.avif" type="image/avif">
              <source srcset="/img/partners-4.webp" type="image/webp">
              <img loading="lazy" src="/img/partners-4.png" class="partners__image image" sizes="(min-width: 239px) 239px, 100vw" alt="Бауцентр">
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
