<section class="performance">
  <div class="performance__container container">
    <h2 class="performance__heading heading-reset">
      ПРОИЗВОДИТЕЛЬНОСТЬ
    </h2>
    <ul class="performance__list performance-list list-reset">
      <li class="performance-list__item">
        <article class="performance-card">
          <p class="performance-card__title heading-reset">
            РЕВЕРС
          </p>
          <p class="performance-card__description heading-reset">
            Реверс на каждом мотоблоке повышает маневренность аппаратов на участках со сложной ограниченной территории
          </p>
        </article>
      </li>
      <li class="performance-list__item">
        <article class="performance-card">
          <p class="performance-card__title performance-card__title-2 heading-reset">
            ДЛИТЕЛЬНАЯ РАБОТА
          </p>
          <p class="performance-card__description heading-reset">
            Вместительный топливный бак объемом от 3.6 л. до 6 л. длительная работа (от 3.5 ч.) без дозаправки
          </p>
        </article>
      </li>
      <li class="performance-list__item">
        <article class="performance-card">
          <p class="performance-card__title performance-card__title-3 heading-reset">
            СКОРОСТЬ
          </p>
          <p class="performance-card__description heading-reset">
            Идеальная линейная скорость от 2 км.ч до 10 км.ч обеспечивает эффективную обработку почвы, работу с навесным и транспортировку грузов
          </p>
        </article>
      </li>
      <li class="performance-list__item">
        <article class="performance-card">
          <p class="performance-card__title performance-card__title-4 heading-reset">
            ПРОХОДИМОСТЬ
          </p>
          <p class="performance-card__description heading-reset">
            Великолепная проходимость за счет пневматических колес диаметром от 40 см. С шириной вспашки от 850 мм. и глубиной до 400 мм.
          </p>
        </article>
      </li>
    </ul>
  </div>
  <picture>
      <source srcset="/img/about-brand-3.avif" type="image/avif">
      <source srcset="/img.about-brand-3.webp" type="image/webp">
      <img loading="lazy" src="/img/about-brand-3.jpg" class="image" sizes="(min-width: 1920px) 1920px, 100vw" width="1920" height="800" alt="О бренде Korona - Эргономичность">
  </picture>
</section>
