<section class="prospects">
  <div class="container prospects__container">
    <h2 class="prospects__heading heading-reset">
      ПЕРСПЕКТИВЫ
    </h2>
  </div>
  <div class="prospects__images">
    <div class="prospects__img-container">
      <picture class="prospects__picture" data-target="1" data-active="true">
        <source srcset="/img/1-prospects.avif" type="image/avif">
        <source srcset="/img/1-prospects.webp" type="image/webp">
        <img loading="lazy" src="/img/1-prospects.jpg" class="image" sizes="(min-width: 1920px) 1920px, 100vw" alt="Большие возможности">
      </picture>
      <picture class="prospects__picture" data-target="2">
        <source srcset="/img/2-prospects.avif" type="image/avif">
        <source srcset="/img/2-prospects.webp" type="image/webp">
        <img loading="lazy" src="/img/2-prospects.jpg" class="image" sizes="(min-width: 1920px) 1920px, 100vw" alt="ВРЕМЕННЫЕ РАМКИ">
      </picture>
      <picture class="prospects__picture" data-target="3">
        <source srcset="/img/3-prospects.avif" type="image/avif">
        <source srcset="/img/3-prospects.webp" type="image/webp">
        <img loading="lazy" src="/img/3-prospects.jpg" class="image" sizes="(min-width: 1920px) 1920px, 100vw" alt="ДАВАЛЬЧЕСКОЕ СЫРЬЕ">
      </picture>
    </div>
    <div class="prospects__content">
      <ul class="prospects__list prospects-list list-reset">
        <li class="prospects-list__item visible" data-path="1">
          <p class="heading-reset prospects-list__title">
            БОЛЬШИЕ ВОЗМОЖНОСТИ
          </p>
          <div class="prospects-list__description">
            Изготовление всего модельного ряда мотоблоков от моделей первой цены до эксклюзивных
          </div>
        </li>
        <li class="prospects-list__item" data-path="2">
          <p class="heading-reset prospects-list__title">
            ВРЕМЕННЫЕ РАМКИ
          </p>
          <div class="prospects-list__description">
            График поставок с точностью до одного часа в высоком сезоне
          </div>
        </li>
        <li class="prospects-list__item" data-path="3">
          <p class="heading-reset prospects-list__title">
            ДАВАЛЬЧЕСКОЕ СЫРЬЕ
          </p>
          <div class="prospects-list__description">
            Для производства мотоблоков вы можете поставить свои двигатели, колеса и пр. комплектующие
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
