<section class="safe">
  <picture>
      <source srcset="/img/safe-1.avif" type="image/avif">
      <source srcset="/img/safe-1.webp" type="image/webp">
      <img loading="lazy" src="/img/safe-1.jpg" class="safe__image image" sizes="(min-width: 1920px) 1920px, 100vw" alt="Поставщик первой цены, Надежный производитель">
  </picture>
  <div class="safe__content">
    <picture>
        <source srcset="/img/safe-logo.avif" type="image/avif">
        <source srcset="/img/safe-logo.webp" type="image/webp">
        <img loading="lazy" src="/img/safe-logo.png" class="safe__logo" sizes="(min-width: 184px) 184px, 100vw" alt="Korona">
    </picture>
    <div class="safe__description">
      Поставщик первой цены<br>Надежный производитель
    </div>
  </div>
</section>
