<section class="scroll">
  <div class="scroll__wrapper">
    <div class="scroll__picture-wrapper picture-visible">
      <picture>
        <source srcset="/img/M-107/1.avif" type="image/avif">
        <source srcset="/img/M-107/1.webp" type="image/webp">
        <img loading="lazy" src="/img/M-107/1.jpg" class="scroll__image image" sizes="(min-width: 1910px) 1910px, 100vw" width="1910"
             height="800" alt="3D">
      </picture>
    </div>
    <div class="scroll__picture-wrapper">
      <picture>
        <source srcset="/img/M-107/2.avif" type="image/avif">
        <source srcset="/img/M-107/2.webp" type="image/webp">
        <img loading="lazy" src="/img/M-107/2.jpg" class="scroll__image image" sizes="(min-width: 1910px) 1910px, 100vw" width="1910"
             height="800" alt="3D">
      </picture>
    </div>
    <div class="scroll__picture-wrapper">
      <picture>
        <source srcset="/img/M-107/3.avif" type="image/avif">
        <source srcset="/img/M-107/3.webp" type="image/webp">
        <img loading="lazy" src="/img/M-107/3.jpg" class="scroll__image image" sizes="(min-width: 1910px) 1910px, 100vw" width="1910"
             height="800" alt="3D">
      </picture>
    </div>
    <div class="scroll__picture-wrapper">
      <picture>
        <source srcset="/img/M-107/4.avif" type="image/avif">
        <source srcset="/img/M-107/4.webp" type="image/webp">
        <img loading="lazy" src="/img/M-107/4.jpg" class="scroll__image image" sizes="(min-width: 1910px) 1910px, 100vw" width="1910"
             height="800" alt="3D">
      </picture>
    </div>
    <div class="scroll__picture-wrapper">
      <picture>
        <source srcset="/img/M-107/5.avif" type="image/avif">
        <source srcset="/img/M-107/5.webp" type="image/webp">
        <img loading="lazy" src="/img/M-107/5.jpg" class="scroll__image image" sizes="(min-width: 1910px) 1910px, 100vw" width="1910"
             height="800" alt="3D">
      </picture>
    </div>
    <div class="scroll__picture-wrapper">
      <picture>
        <source srcset="/img/M-107/6.avif" type="image/avif">
        <source srcset="/img/M-107/6.webp" type="image/webp">
        <img loading="lazy" src="/img/M-107/6.jpg" class="scroll__image image" sizes="(min-width: 1910px) 1910px, 100vw" width="1910"
             height="800" alt="3D">
      </picture>
    </div>
    <div class="scroll__picture-wrapper">
      <picture>
        <source srcset="/img/M-107/7.avif" type="image/avif">
        <source srcset="/img/M-107/7.webp" type="image/webp">
        <img loading="lazy" src="/img/M-107/7.jpg" class="scroll__image image" sizes="(min-width: 1910px) 1910px, 100vw" width="1910"
             height="800" alt="3D">
      </picture>
    </div>
    <div class="scroll__picture-wrapper">
      <picture>
        <source srcset="/img/M-107/8.avif" type="image/avif">
        <source srcset="/img/M-107/8.webp" type="image/webp">
        <img loading="lazy" src="/img/M-107/8.jpg" class="scroll__image image" sizes="(min-width: 1910px) 1910px, 100vw" width="1910"
             height="800" alt="3D">
      </picture>
    </div>
    <div class="scroll__picture-wrapper">
      <picture>
        <source srcset="/img/M-107/9.avif" type="image/avif">
        <source srcset="/img/M-107/9.webp" type="image/webp">
        <img loading="lazy" src="/img/M-107/9.jpg" class="scroll__image image" sizes="(min-width: 1910px) 1910px, 100vw" width="1910"
             height="800" alt="3D">
      </picture>
    </div>
    <div class="scroll__picture-wrapper">
      <picture>
        <source srcset="/img/M-107/10.avif" type="image/avif">
        <source srcset="/img/M-107/10.webp" type="image/webp">
        <img loading="lazy" src="/img/M-107/10.jpg" class="scroll__image image" sizes="(min-width: 1910px) 1910px, 100vw" width="1910"
             height="800" alt="3D">
      </picture>
    </div>
    <div class="scroll__picture-wrapper">
      <picture>
        <source srcset="/img/M-107/11.avif" type="image/avif">
        <source srcset="/img/M-107/11.webp" type="image/webp">
        <img loading="lazy" src="/img/M-107/11.jpg" class="scroll__image image" sizes="(min-width: 1910px) 1910px, 100vw" width="1910"
             height="800" alt="3D">
      </picture>
    </div>
    <div class="scroll__picture-wrapper">
      <picture>
        <source srcset="/img/M-107/12.avif" type="image/avif">
        <source srcset="/img/M-107/12.webp" type="image/webp">
        <img loading="lazy" src="/img/M-107/12.jpg" class="scroll__image image" sizes="(min-width: 1910px) 1910px, 100vw" width="1910"
             height="800" alt="3D">
      </picture>
    </div>
    <div class="scroll__picture-wrapper">
      <picture>
        <source srcset="/img/M-107/13.avif" type="image/avif">
        <source srcset="/img/M-107/13.webp" type="image/webp">
        <img loading="lazy" src="/img/M-107/13.jpg" class="scroll__image image" sizes="(min-width: 1910px) 1910px, 100vw" width="1910"
             height="800" alt="3D">
      </picture>
    </div>
    <div class="scroll__picture-wrapper">
      <picture>
        <source srcset="/img/M-107/14.avif" type="image/avif">
        <source srcset="/img/M-107/14.webp" type="image/webp">
        <img loading="lazy" src="/img/M-107/14.jpg" class="scroll__image image" sizes="(min-width: 1910px) 1910px, 100vw" width="1910"
             height="800" alt="3D">
      </picture>
    </div>
  </div>
</section>
