<section class="statistic">
  <div class="statistic__container container">
    <article class="statistic__card statistic-card">
      <h3 class="statistic-card__heading heading-reset">
        <span class="color-red">
          20 000 КВ.М
        </span>
        ПРОИЗВОДСТВЕННО-СКЛАДСКИХ ПЛОЩАДЕЙ
      </h3>
      <span class="statistic-card__num">01</span>
    </article>
    <article class="statistic__card statistic-card">
      <h3 class="statistic-card__heading heading-reset">
        <span class="color-red">
          2 МЛН.
        </span>
        ПРОИЗВОДИМЫХ ЕДИНИЦ В ГОД
      </h3>
      <span class="statistic-card__num">02</span>
    </article>
    <article class="statistic__card statistic-card">
      <h3 class="statistic-card__heading heading-reset">
        <span class="color-red">
          ОСУЩЕСТВЛЯЕМ ПОСТАВКУ ТОВАРА
        </span>
        В 9 СТРАН ЧЕРЕЗ ДИСТРИБЬЮТЕРОВ
      </h3>
      <span class="statistic-card__num">03</span>
    </article>
    <article class="statistic__card statistic-card">
      <h3 class="statistic-card__heading heading-reset">
        <span class="color-red">
          24 ГОДА
        </span>
        НЕПРЕРЫВНОЙ ПЛОДОТВОРНОЙ РАБОТЫ
      </h3>
      <span class="statistic-card__num">04</span>
    </article>
    <article class="statistic__card statistic-card">
      <h3 class="statistic-card__heading heading-reset">
        246 ОПТОВЫХ КЛИЕНТОВ РОССИИ И СТРАН ТАМОЖЕННОГО СОЮЗА
      </h3>
      <span class="statistic-card__num">05</span>
    </article>
    <article class="statistic__card statistic-card">
      <h3 class="statistic-card__heading heading-reset">
        <span class="color-red">
          350 КОНТЕЙНЕРОВ
        </span>
        ИМПОРТНЫХ КОМПЛЕКТУЮЩИХ В ГОД
      </h3>
      <span class="statistic-card__num">06</span>
    </article>
    <article class="statistic__card statistic-card">
      <h3 class="statistic-card__heading heading-reset">
        <span class="color-red">
          2000 ТОНН В ГОД
        </span>
        ПЕРЕРАБАТЫВАЕМОЙ СТАЛИ РОССИЙСКОГО ПРОИЗВОДСТВА
      </h3>
      <span class="statistic-card__num">07</span>
    </article>
  </div>
</section>
