<section class="technology">
  <div class="container technology__container">
    <h2 class="technology__heading heading-reset">
      ТЕХНОЛОГИЧНОСТЬ
    </h2>
    <ul class="list-reset technology-list">
      <li class="technology-list__item">
        <p class="technology-list__title heading-reset">
          ДВИГАТЕЛЬ
        </p>
        <p class="technology-list__description heading-reset">
          Надежный двигатель с высоким ресурсом эксплуатации и легкости обслуживания
        </p>
      </li>
      <li class="technology-list__item">
        <p class="technology-list__title heading-reset">
          ФРЕЗЫ
        </p>
        <p class="technology-list__description heading-reset">
          Самозатачивающиеся саблевидные закаленные фрезы из конструкционной стали обеспечивают глубину прокопа 350 мм в глубину и рассчитаны на весь срок эксплуатации мотоблока
        </p>
      </li>
      <li class="technology-list__item">
        <p class="technology-list__title heading-reset">
          РЕМЕНЬ
        </p>
        <p class="technology-list__description heading-reset">
          Клиновидный зубчатый ремень в приводе мотоблока обладает повышенной износостойкостью и высоким ресурсом по сравнению с обычными ремнями на <span class="color-red">30%</span>
        </p>
      </li>
      <li class="technology-list__item">
        <p class="technology-list__title heading-reset">
          ПЕРЕДАЧИ
        </p>
        <p class="technology-list__description heading-reset">
          Широкий набор передач <span class="color-red">(от 2 до 8)</span> шестеренчато-цепного и шестеренчатого редукторов позволяет подобрать нужную скорость для культивации почвы, работы с навесным оборудование и передвижения с тележкой
        </p>
      </li>
      <li class="technology-list__item">
        <p class="technology-list__title heading-reset">
          РАМА
        </p>
        <p class="technology-list__description heading-reset">
          Усиленная рама выдерживает поперечные и продольные нагрузки в течение всего срока эксплуатации до <span class="color-red">10 лет</span>
        </p>
      </li>
      <li class="technology-list__item">
        <p class="technology-list__title heading-reset">
          ДВИГАТЕЛИ
        </p>
        <p class="technology-list__description heading-reset">
          Двигатели от известных китайских брендов до японского Honda
        </p>
      </li>
    </ul>
  </div>
  <picture>
      <source srcset="/img/about-brand-2.avif" type="image/avif">
      <source srcset="/img/about-brand-2.webp" type="image/webp">
      <img loading="lazy" src="/img/about-brand-2.jpg" class="image" sizes="(min-width: 1920px) 1920px, 100vw" width="1920" height="800" alt="Технологичность">
  </picture>
</section>
