$font-family: "SF-display", sans-serif;

// Colors

$red: #D41121;
$red-soft: #D22730;
$black: #19191C;
$black-soft: #202025;
$white: #fff;
$gray: #747474;
$gray-soft: #BCBCBC;
$line-soft: #E9E9E9;
$line-black: #252525;
$border-color: hsla(0,0%,91%,0.15);
